.customized-search-input {
    background: #ffffff;
    border-radius: 4px;
    padding: 5px 12px !important;
    border: 1px solid #dedede !important;
    width: 25%;
    margin: 15px 0px 22px 0px !important;

    .search-icon {
        height: 20px;
        width: auto;
    }
}